@import url("https://www.1001fonts.com/gunplay-font.html");
@import url("https://www.1001fonts.com/fun-games-font.html?size=66");
@font-face {
  font-family: gunplay;
  src: url("gunplay rg.ttf");
}
@font-face {
  font-family: fun-games;
  src: url("fun-games.regular.ttf");
}

/* Beskrivningar */
.Beskrivning {
  position: absolute;
  top: 235px;
  left: 45vw;
  font-size: 28px;
  color: rgb(0, 0, 0);
  font-family: "gunplay";
}

.välkommen {
  top: 75px;
  left: 56vw;
  font-size: 60px;
  position: absolute;
  font-family: "gunplay";
  -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.välkommen span {
  display: inline-block;
  color: black;
  animation: våg 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes våg {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
@media screen and (min-width: 1200px) {
  .Beskrivning {
    position: absolute;
    top: 235px;
    left: 36vw;
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-family: "gunplay";
  }

  .välkommen {
    top: 75px;
    left: 49vw;
    font-size: 60px;
    position: absolute;
    font-family: "gunplay";
    -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  }
}
