.menu-icon {
  display: none;
}

@media screen and (max-width: 400px) {
  .menu-icon {
    display: block;
    height: 60px;
  }
  #topp-länkar {
    display: none;
  }
  .search {
    display: none;
  }
  .fa-cart-shopping {
    display: none;
  }
  nav a.menu-icon {
    width: 100vw;
    height: 100vw;
    background-color: aqua;
    text-decoration: none;
    right: 0;
    display: block;
  }
}
