* {
  margin: 0;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(16, 15, 15);
}
.menu-icon {
  display: none;
}
/*mobilsskärm iPhone 12 promax */
@media screen and (max-width: 400px) {
  body {
    background-color: red;
  }
  header {
    background-color: #245c09;
    top: 0;
    width: 100vw;
    display: flex;
    height: 120px;
  }
  .Den-diven-längst-upp-i-mitten {
    padding-left: 20px;
  }
  .den-naven-under-header {
    width: 100%;
  }

  .slider {
    width: 100vw;
    height: auto;
    background-color: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: calc(100vw * 3);
    height: auto;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    width: 100vw;
    height: 40vh;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -390px;
  }
  #slide-3:target ~ .image-container {
    left: -780px;
  }
  .top-produkter {
    width: 100vw;
    text-align: center;
    height: 200px;
    background-color: #14171f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  .footer {
    width: 100vw;
    height: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #14171f;
  }
  .menu-icon {
    display: block;
    height: 60px;
  }
  #topp-länkar {
    display: none;
  }
  .search {
    display: none;
  }
  .fa-cart-shopping {
    display: none;
  }
  nav a.menu-icon {
    width: 100vw;
    height: 100vw;
    background-color: aqua;
    text-decoration: none;
    right: 0;
    display: block;
  }
}
