@import url("https://www.1001fonts.com/gunplay-font.html");
@import url("https://www.1001fonts.com/fun-games-font.html?size=66");
@font-face {
  font-family: gunplay;
  src: url("gunplay rg.ttf");
}
@font-face {
  font-family: fun-games;
  src: url("fun-games.regular.ttf");
}
@media screen and (max-width: 3000px) {
  header {
    background-color: #245c09;
    top: 0;
    display: flex;
    height: 120px;
  }

  #logo {
    width: 120px;
    height: 120px;
    margin: 0px 10px;
  }
  .Den-diven-längst-upp-i-mitten {
    padding-left: 80px;
  }
  h1 {
    text-shadow: rgb(102, 63, 63);
    color: rgb(151, 153, 8);
    font-family: "fun-games";
    margin-bottom: 10px;
    padding: 0px 100px 0px 0px;
  }
  #topp-länkar {
    padding-top: 15px;
  }
  .länk {
    margin: 0 5px;
    color: rgb(151, 153, 8);
    text-decoration: none;
    transition: all 100ms;
  }
  .länk:hover {
    font-size: 15px;
    transform: scale(1.1);
    border-bottom: 4px solid rgb(151, 153, 8);
  }
  .fa-solid {
    color: rgb(151, 153, 8);
  }
  .den-naven-under-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    background-color: rgba(27, 25, 25, 0.993);
    color: wheat;
    border-top: 4px solid rgb(151, 153, 8);
  }
  .items-in-nav {
    padding: 5px 30px 5px 30px;
  }
  .items-in-nav:hover {
    transition: 0.2s;
    color: rgb(245, 245, 245);
    background-color: rgb(82, 79, 73);
    font-size: larger;
  }
  .search {
    float: right;
    margin: 65px 0px 0px 65px;
  }

  .search button {
    background-color: rgb(151, 153, 8);
    float: right;
    padding: 8px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  .search button:hover {
    color: white;
  }
  .search input {
    background-color: rgb(34, 43, 43);
    color: white;
    padding: 5px 210px 5px 20px;
    border: 4px solid rgb(151, 153, 8);
  }
}

/* .logo1 {
  display: block;
  width: 70px;
  height: 90px;
  position: absolute;
  left: 0;
  background-color: transparent;
  text-align: center;
}
.img-logo {
  margin-top: 18px;
  height: 140px;
}

.om {
  font-family: "Arial", serif;
  font-size: 12px;
  color: #8c8c8e;
  text-transform: uppercase;
  text-decoration: none; */
/* margin: 18px; */
/* margin-bottom: 20px; */
/* transform: all 100ms;
}

.om:hover {
  transition: 0.3s;
  transform: scale(1.5);
}

h1 {
  text-align: center;
  background-color: yellow;
  width: 100%;
  padding: 10px 60px;
}

.skänk-link {
  width: 72px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 14px;
  z-index: 1;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: rgb(161, 130, 130);
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 2px solid rgba(255, 255, 255);
}

.img-bokmärke {
  transition: 0.1s;
  margin-top: 18px;
  height: 179px;
  width: 400px;
  display: block;
  margin-left: 920px;
  background-color: transparent;
  position: fixed;
}
.img-bokmärke:hover {
  height: 300px;
}
.logo {
  width: 33%;
}
.mitten {
  top: 0;
  height: 50%;
  width: 33%;
  display: flex;
  align-content: space-between;
  justify-content: center;
}
.bokmärke {
  width: 33%;
}

.länkar {
  width: 33%;
  height: 50%;
} */
