body {
  background-color: #14171f;
}
#om_oss {
  color: rgb(245, 254, 254);
  background-image: url("bilder/Thief-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  overflow-y: scroll;
}
* {
  margin: 0;
  padding: 0;
}
.headerr {
  text-align: center;
  padding: 1em;
  font-size: larger;
}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
